:root {
    --Dark-Vanilla: #DCCCA3;
    --Granny-Smith-Apple: #A9E190;
    --Brass: #A5AA52;
    --Maximum-Green: #558B2F;
    --Charleston-Green: #292929;
}

body {
    background-color: var(--Charleston-Green);
}

.nav-item {
    margin: 0 2em;
    font-size: 1em;
    color: var(--Dark-Vanilla);
}

nav .brand-logo.logo {
    padding: .2em;
}

.circle {
    height: 3.5em;
    width: 3.5em;
    border-radius: 50%;
}

#testing {
    background-color: var(--Charleston-Green);
}

.main {
    position: relative;
    z-index: 100;
    max-width: 100%;
    height: 91vh;
    background: url("../img/websiteBanner.jpg") no-repeat center center;
    background-size: cover;
}
.main-text {
    float: left;
    color: var(--Brass);
}

.logo {
    z-index: 1000;
}
.resume {
    height: 90vh;
}
