:root {
    --Dark-Vanilla: #DCCCA3;
    --Granny-Smith-Apple: #A9E190;
    --Brass: #A5AA52;
    --Maximum-Green: #558B2F;
    --Charleston-Green: #292929;
}

.nav-item {
    margin: 0 2em;
    font-size: 1em;
}

nav .brand-logo.logo {
    padding: .2em;
}

.circle {
    height: 3.5em;
    width: 3.5em;
    border-radius: 50%;
    display: inline-block;
}

#testing {
    background-color: var(--Charleston-Green);
}

.main {
    background: url("../img/websiteBanner.jpg") no-repeat center;
    height: auto;
    background-size: cover;
}
