:root {
    --Dark-Vanilla: #DCCCA3;
    --Granny-Smith-Apple: #A9E190;
    --Brass: #A5AA52;
    --Maximum-Green: #558B2F;
    --Charleston-Green: #292929;
}

html, body {
    margin: 0;
    height: 100%;
    overflow: hidden
}

body {
    background-color: var(--Dark-Vanilla);
}

.nav-item {
    margin: 0 2em;
    font-size: 1em;
    color: var(--Charleston-Green);
}

nav .brand-logo.logo {
    padding: .2em;
}

.circle {
    height: 3.5em;
    width: 3.5em;
    border-radius: 50%;
    margin-right: 3em;
}

.item {
    min-height: 100% !important;
    position: relative;
    z-index: 100;
    max-width: 100%;
    padding: 1em;
}

.main {
    background: url("../img/websiteBanner.jpg") no-repeat center center;
    background-size: cover;
}

.main-text {
    float: left;
    stroke: black;
    color: var(--Dark-Vanilla);
}

.logo {
    z-index: 1000;
}

.logo-img {
    height: 93px;
    width: 75px;
}

.carousel {
    height: 91vh;
}

#bitButton {
    background-color: var(--Charleston-Green);
}

#nav-mobile {
    margin-left: 3em;
}
